.contestsmain {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.contestsmenu {
  width: 30%;
  max-width: 300px;
  min-height: 100vh;
  background-color: #daecf3;
  display: flex;
  flex-direction: column;
}

.menuheader img {
  width: 100px;
}

.menumain {
  height: 100%;
}

.menumain ul {
  height: 100%;
  width: 100%;
  padding-left: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menumain ul li {
  font-size: 24px;
  list-style-type: none;
  font-weight: 500;
}
.contestsbody {
  padding-top: 20px;
  width: 100%;
}
.headerbody {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  width: 100%;
  padding-right: 40px;
}
.headerelement {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerelement img {
  height: 30px;
}
.queryheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.queryheader h1 {
  font-size: 20px;
  font-weight: 500;
}
.queryheader input {
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid #000;
}
.queryright {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}
.actionsright,
.actionsleft {
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 7.5px;
  gap: 10px;
}
.actionsleft img {
  height: 30px;
}
.actionsright {
  background-color: #4b46dc;
  color: #fff;
}
.actionsright img {
  background-color: #fff;
  border-radius: 100%;
  height: 15px;
}
.contestsTable {
  width: 100%;
  padding: 30px;
}

.contestsTable thead {
  background-color: #f5fafa;
}
.contestsTable th {
  padding: 20px 10px;
}
.contestsTable td {
  padding: 10px;
}
